@model ActivityTracker.Models.Activity

@{
    ViewData["Title"] = "Edit";
}

<h2>Activity</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" asp-for="Complete" /> @Html.DisplayNameFor(model => model.Complete)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="FunFactor" class="control-label"></label>
                <input asp-for="FunFactor" class="form-control" />
                <span asp-validation-for="FunFactor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Difficulty" class="control-label"></label>
                <input asp-for="Difficulty" class="form-control" />
                <span asp-validation-for="Difficulty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<h2>Log</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                TimeSpent
            </th>
            <th>
               Notes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.LogEntries)
        {
            <tr>
                <td>
                    @item.Date
                </td>
                <td>
                    @Html.Raw(item.TimeSpent)
                </td>
                <td>
                    @Html.Raw(item.Notes)
                </td>
                <td>
                    <a asp-controller="LogEntries" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-controller="LogEntries" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-controller="LogEntries" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
