@{
    ViewData["Title"] = "Index";
}

@if (ViewBag.CurrentUserType == "S")
{
    <h2>My Activities</h2>
}
else if (ViewBag.CurrentUserType == "T")
{
    <h2>@ViewBag.StudentName</h2>
}
else
{
    <text></text>
}


<p>
    <a class="btn btn-default" asp-action="Create" asp-route-studentid="@ViewBag.StudentId"><i class="fa fa-plus"></i> Add Activity</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Activity
            </th>
            <th class="column-sm text-center">
                Fun Factor
            </th>
            <th class="column-sm text-center">
                Difficulty
            </th>
            <th>
                Notes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Activities)
        {
            <tr class="@(item.Complete ? "complete" : "")" >
                <td>
                    <a id="overview-activity-name" asp-action="Details" asp-route-id="@item.ID">@item.Name</a>
                </td>
                <td class="text-center">
                    @for (var i = 0; i < item.FunFactor; i++)
                    {
                    <i class="fa fa-star"></i>
                    }
                </td>
                <td class="text-center">
                    @for (var i = 0; i < item.Difficulty; i++)
                    {
                    <i class="fa fa-star"></i>
                    }
                </td>
                <td>
                    @item.Notes
                </td>
                <td>
                    <div class="text-right">
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> &nbsp;|&nbsp;
                        <a asp-action="Delete" asp-route-id="@item.ID"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>