@{
    ViewData["Title"] = "Index";
}

@if (ViewBag.CurrentUserType == "S")
{
    <h2>My Activities</h2>
}
@if (ViewBag.CurrentUserType == "T")
{
    <h2>
        <i class="fas fa-user"></i> @ViewBag.StudentName
        @if (ViewBag.Groups != null)
        {
            <small>
                @foreach (var group in ViewBag.Groups)
                {
                    @group.Name
                    <text>&nbsp;</text>
                }
            </small>
        }
    </h2>
}


<p>
    <a class="btn btn-default" asp-action="Create" asp-route-studentid="@ViewBag.StudentId"><i class="fas fa-plus"></i> Add Activity</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Activity
            </th>
            <th class="column-sm text-center">
                Fun Factor
            </th>
            <th class="column-sm text-center">
                Difficulty
            </th>
            <th>
                Notes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Activities)
        {
            <tr class="@(item.Complete ? "complete" : "")">
                <td>
                    <a id="overview-activity-name" asp-action="Details" asp-route-id="@item.ID">@item.Name</a>
                </td>
                <td class="text-center">
                    @for (var i = 0; i < item.FunFactor; i++)
                    {
                        <i class="fas fa-star"></i>
                    }
                </td>
                <td class="text-center">
                    @for (var i = 0; i < item.Difficulty; i++)
                    {
                        <i class="fas fa-star"></i>
                    }
                </td>
                <td>
                    @item.Notes
                </td>
                <td>
                    <div class="text-right">
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                        @if (ViewBag.CurrentUserType == "S")
                        {
                            <text>&nbsp;|&nbsp;</text>
                            <a asp-action="Delete" asp-route-id="@item.ID"><i class="fas fa-trash-alt"></i></a>
                        }
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
@if (ViewBag.CurrentUserType == "T")
{
    <a asp-action="Index" asp-controller="Students"><i class="fas fa-arrow-up"></i> Back to Students</a>
}