@model IEnumerable<ActivityTracker.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h2>Student Overview</h2>

<p>
    <a asp-controller="Account" asp-action="RegisterStudent" class="btn btn-default">
        <i class="fas fa-user-plus"></i> Add Student</a>
    <a asp-controller="Groups" asp-action="Create" class="btn btn-default">Create Group</a>

</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Group(s)
            </th>
            <th>
                Student
            </th>
            <th>
                Email
            </th>
            <th>
                Last Activity
            </th>
            <th>
                Notes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @if (item.UserGroups != null)
                {
                    @foreach (var userGroup in item.UserGroups)
                    {
                        @Html.DisplayFor(ug => userGroup.Group.Name)<text> </text>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)<text>,</text>
                @Html.DisplayFor(modelItem => item.FirstName)
                @Html.DisplayFor(modelItem => item.Prefix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-controller="Activities" asp-action="Index" asp-route-id="@item.Id">Activities</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
